# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/

# Ignore VS Code settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore sensitive files
.env

# Ignore logs
*.log

# Ignore other unnecessary files
*.sqlite3
*.db
